@import 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

input, button, textarea, p, ul, h1, h2 {
  margin: 0;
  margin-block: 0;
  padding: 0;
  font-family: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: inline-block;
}

hr {
  width: 70vw;
  margin: 30px auto;
  border: medium dotted var(--green);
}

// styles
.highlighted {
  padding: 2px;
  border-radius: 10px;
  font-weight: bold;
  background: var(--highlight-text);
}

.shadowed {
  flex-grow: 1;
  padding: 1rem;
  border-radius: 25px;
  background: var(--shadow);
}

.dotted {
  padding: 1rem;
  border: 5px dotted var(--green);
  border-radius: 25px;
}






// ???
//@media(max-width: 780px) {
//  .App-content {
//    margin-top: 65px;
//    font-size: 19px;
//  }
//}
