$spacer: 1rem !default; // базовый шаг (1rem)
$spacer-scale: 0.6 !default; // масштаб (каждый шаг — 0.25rem)

// margin
@for $i from 0 through 5 {
  .m-#{$i} {
    margin: $i * $spacer * $spacer-scale;
  }
  .mt-#{$i} {
    margin-top: $i * $spacer * $spacer-scale;
  }
  .mb-#{$i} {
    margin-bottom: $i * $spacer * $spacer-scale;
  }
  .ml-#{$i} {
    margin-left: $i * $spacer * $spacer-scale;
  }
  .mr-#{$i} {
    margin-right: $i * $spacer * $spacer-scale;
  }
  .mx-#{$i} {
    margin-left: $i * $spacer * $spacer-scale;
    margin-right: $i * $spacer * $spacer-scale;
  }
  .my-#{$i} {
    margin-top: $i * $spacer * $spacer-scale;
    margin-bottom: $i * $spacer * $spacer-scale;
  }
}

// padding
@for $i from 0 through 5 {
  .p-#{$i} {
    padding: $i * $spacer * $spacer-scale;
  }
  .pt-#{$i} {
    padding-top: $i * $spacer * $spacer-scale;
  }
  .pb-#{$i} {
    padding-bottom: $i * $spacer * $spacer-scale;
  }
  .pl-#{$i} {
    padding-left: $i * $spacer * $spacer-scale;
  }
  .pr-#{$i} {
    padding-right: $i * $spacer * $spacer-scale;
  }
  .px-#{$i} {
    padding-left: $i * $spacer * $spacer-scale;
    padding-right: $i * $spacer * $spacer-scale;
  }
  .py-#{$i} {
    padding-top: $i * $spacer * $spacer-scale;
    padding-bottom: $i * $spacer * $spacer-scale;
  }
}

// Например, me-auto (margin-end auto)
.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.d-flex {
  display: flex;
}

.d-column {
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.overflow-y-auto {
  overflow-y: auto;
}