[data-theme="light"] {
  --bg: #fff;
  --text: #000;
  --shadow: #f5f5f5;

  --h2: #ffcc85;
  --label: #87b9ef;
  --highlight-text: #FFC038;
  --green: #aad133;
}

[data-theme="dark"] {
  --bg: #262322;
  --text: #fff;
  --shadow: #4a4545;

  //--h2: #5f3337;
  //--label: #415f81;
  //--highlight-text: #745e2e;
  //--green: #325342;

  --h2: #ffa21f;
  --label: #87b9ef;
  --highlight-text: #745e2e;;
  --green: #aad133;
}

