.page-wrapper {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;

  &__background {
    position: absolute;
    inset: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__title {
    position: absolute;
    bottom: 5rem;
    left: 3rem;
    font-size: 10rem;
    font-weight: 300;
    color: #fff;
  }

  &__container {
    position: relative;
    margin-top: -5rem;
    padding: 3rem;
    border-radius: 1.5rem;
    background-color: var(--bg);
    z-index: 1;
  }
}

.title {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: normal;
}

.section {
  &__heading {
    display: flex;
    position: relative;
    width: fit-content;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 1.5rem;
    font-weight: 700;

    &::before {
      content: '······························';
      position: absolute;
      top: 50%;
      right: 105%;
      font-size: 2rem;
      white-space: nowrap;
      color: var(--green);
      transform: translateY(-50%);
    }

    &::after {
      content: '······························';
      position: absolute;
      top: 50%;
      left: 105%;
      font-size: 2rem;
      white-space: nowrap;
      color: var(--green);
      transform: translateY(-50%);
    }

    &_level-2  {
      font-size: 1.5rem;
      background-color: var(--h2);
      border-radius: 50px;
    }

    &_level-3 {
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      font-weight: 700;
      background-color: var(--label);
      color: #000;
    }
  }
}

.content {
  &__grid {
    display: grid;
    column-gap: 2rem;
    max-width: 100ch;
    margin: 0 auto;
    margin-bottom: 1.5rem;

    &_half {
      grid-template-columns: repeat(2, minmax(0, 38ch));
    }

    &_thirds {
      grid-template-columns: repeat(3, minmax(0, 38ch));
    }

    &_quarters {
      grid-template-columns: repeat(4, minmax(0, 38ch));
    }

    &_aside_left {
      grid-template-columns: repeat(3, minmax(0, 38ch));
      row-gap: 2rem;

      .area_main {
        grid-area: 1 / 1 / 3 / 2;
      }

      .area_top {
        grid-area: 1 / 2 / 2 / 3;
      }

      .area_bottom {
        grid-area: 2 / 2 / 3 / 3;
      }
    }
  }

  &__text {
    font-size: 1.2rem;

    p {
      padding: 0.2rem 0;
      border-radius: 1.5rem;
    }

    li {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0.5rem;
    }
  }

  &__label {
    width: fit-content;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    font-weight: 700;
    white-space: nowrap;
    background-color: var(--label);
  }

  &__caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
  }

  &__image {
    max-width: 100%;
    border-radius: 20px;
    //object-fit: contain;
  }
}


.highlight {
  padding: 2px;
  border-radius: 10px;
  font-weight: bold;
  background: var(--highlight-text);
}

.shadowed {
  flex-grow: 1;
  padding: 1rem !important;
  border-radius: 1.5rem;
  background: var(--shadow);
}

.dotted {
  padding: 1rem !important;
  border: 5px dotted var(--green);
  border-radius: 1.5rem;
}

