.toc {
  &__nav {
    display: flex;
    align-items: center;
  }

  &__arrow {
    margin-left: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;

    &_rotated {
      transform: rotate(180deg);
    }
  }
}