html, body {
  height: 100%;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

body.light {
  background-color: #ffe4d0;
  color: #000000;
}

body.dark {
  background-color: #283241;
  color: #ffffff;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  font-size: 2rem;
}

button {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
}