html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
  box-sizing: border-box; 
}

* {
  box-sizing: inherit;
}

body.light {
  background-color: #ffe4d0;
  color: #000000;
}

body.dark {
  background-color: #283241;
  color: #ffffff;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  font-size: 2rem;
}

button {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
}

.Main_app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App-content {
  text-align: justify; 
  width: 100%; 
  box-sizing: border-box; 
  font-size: 23px;
  flex: 1;
  padding: 10px;
  padding-bottom: 60px;

}

nav {
  margin-bottom: 10px; 
}
@media(max-width: 780px){
  .App-content{
    margin-top: 65px; 
    font-size: 19px;
  }
}

