.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
  padding: 2.5rem;
  margin-right: 1rem;
  //background-color: var(--secondary);

  img {
    width: 2rem;
    cursor: pointer;
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}